*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body{
  transition: all .3s;
  background:#fff;
}

.siquan-player{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.siquan-player .container{
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
}
.siquan-player .container .topper{
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.siquan-player .container .topper .topper-left{
  float: left;
}
.siquan-player .container .topper .topper-right{
  float: right;
}
.iconbtn{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.iconbtn:hover{
  background-color: #eee;
}
.iconbtn svg{
  width: 33.3%;
  height: 33.3%;
}
.siquan-player .container .left{
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.siquan-player .container .flbtn{
  position: absolute;
  bottom: 0;
  right: 0;
}
.siquan-player .container .left .music-album-pic{
  margin: 20px auto;
  position: relative;
}
.siquan-player .container .left .music-album-pic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.siquan-player .container .left .music-info{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.siquan-player .container .left .music-info .music-title{
  font-size: 24px;
  font-weight: 600;
}
.siquan-player .container .left .music-info .music-message{
  font-size: 14px;
  color: #333;
}
.siquan-player .container .left .music-controls{
  width: 100%;
}
.siquan-player .container .left .music-controls .range{
  width: calc(100% - 50px);
  margin: 10px 25px;
  height: 3px;
  position: relative;
  background-color: #ccc;
  border-radius: 3px;
  -webkit-user-drag: none;
}
.siquan-player .container .left .music-controls .range .r1{
  width: 11px;
  height: 11px;
  background-color: #09f;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: calc(0% - 4px);
}
.siquan-player .container .left .music-controls .range .r2{
  width: 0%;
  height: 100%;
  border-radius: 20px;
  background-color: #09f;
}
.siquan-player .container .left .music-controls .time{
  font-size: 14px;
  color: #333;
  width: calc(100% - 50px);
  margin: 0 25px;
  overflow: hidden;
}
.siquan-player .l{
  float: left;
}
.siquan-player .r{
  float: right;
}
.siquan-player .container .left .music-controls .pl{
  width: 210px;
  height: 70px;
  margin: 10px auto;
}
.siquan-player .container .left .music-controls .pl .iconbtn{
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.siquan-player .container .left .music-controls .pl .iconbtn svg{
  width: 60%;
  height: 60%;
}
.siquan-player .container .left .music-controls .pl .iconbtn.playbtn svg{
  width: 90%;
  height: 90%;
}
.siquan-player .container .right{
  float: left;
  width: 60%;
  height: 100%;
}
.siquan-player .container .right ul li{
  list-style: none;
  text-align: center;
  font-size: 20px;
  color: #444;
  line-height: 40px;
  display: block;
  transition: all .3s;
  padding: 15px 0;
}
.siquan-player .container .right ul li.act{
  color: #09f;
  font-size: 36px;
}
.siquan-player .container .right ul{
  height: 100%;
  width: 100%;
  margin-top: calc(40% - 0px);
  transition: all .3s;
}

.playing-anim{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
}
.siquan-player .container.playing .left .playing-anim{
  display: block;
}
.siquan-player .container .left .music-album-pic img{
  object-fit: cover;
  object-position: center center;
  animation: rotate 16s linear infinite;
  animation-play-state: paused;
}
.siquan-player .container.playing .left .music-album-pic img{
  animation-play-state: running;
}
.playing-anim>*{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2px;
  left: -2px;
  border: #ccc solid 2px;
  border-radius: 50%;
  animation: playing 1.5s infinite linear;
}
.playing-anim>*:nth-child(2){
  animation-delay: -.6s;
}
.playing-anim>*:nth-child(3){
  animation-delay: -.1.2s;
}
@keyframes playing {
  0%{
    width: 100%;
    height: 100%;
    opacity: .5;
    margin: 0;
  }100%{
    width: 120%;
    height: 120%;
    opacity: 0;
    margin: -10%;
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

.dialog{
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  transition: background .3s;
  pointer-events: none;
}
.d-c{
  width: 90%;
  height: 80%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: all .3s;
  transform: scale(.6);
  opacity: 0;
}
.dialog.show{
  background-color: rgba(0,0,0,.4);
  pointer-events: all;
}
.dialog.show .d-c{
  transform: scale(1);
  opacity: 1;
}
.d-c .actionbar .iconbtn{
  float: left;
}
.dialog .actionbar{
  width: 100%;
  height: 40px;
  position: relative;
  border-bottom: #ccc solid 1px;
}
.dialog .actionbar .left{
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
}
.dialog .actionbar .right{
  position: absolute;
  top: 0;
  z-index: 1;
  right:0;
}
.dialog .actionbar .title{
  width: 100%;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.dialog .scroll-con{
  width: 100%;
  height: calc(100% - 41px);
  overflow-y: auto;
  overflow-x: hidden;
}

.musiclist.dialog .scroll-con ul li{
  list-style: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.musiclist.dialog .scroll-con  ul li:hover{
  background-color: #eee;
}
.musiclist.dialog .scroll-con  ul li>*{
  float: left;
  height: 30px;
}
.musiclist.dialog .scroll-con  ul li .index{
  width: 40px;
  text-align: center;
}
.musiclist.dialog .scroll-con  ul li .name{
  width: calc(100% - 40px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.musiclist.dialog .scroll-con  ul li .anim{
  position: relative;
  width: 40px;
  display: none;
}
.musiclist.dialog .scroll-con  ul li .anim div{
  width: 2px;
  height: 10px;
  background-color: #09f;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  animation: hh 1s linear infinite;
}
.musiclist.dialog .scroll-con  ul li .anim div:nth-child(1){
  left: 15px;
}
.musiclist.dialog .scroll-con  ul li .anim div:nth-child(2){
  left: 21px;
  animation-delay: -.5s;
}
.musiclist.dialog .scroll-con  ul li .anim div:nth-child(3){
  left: 27px;
}
.musiclist.dialog .scroll-con  ul li.act{
  color: #09f;
}
.musiclist.dialog .scroll-con ul li.act .anim{
  display: block;
}
.musiclist.dialog .scroll-con ul li.act .index{
  display: none;
}
@keyframes hh {
  0%{
    transform: translateY(-50%) scaleY(.6);
  }50%{
    transform: translateY(-50%) scaleY(1.4);
  }100%{
    transform: translateY(-50%) scaleY(.6);
  }
}
.s-tag{
  margin:0 5px;
  padding: 3px;
  background-color: #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #000;
}

@media(max-width:700px){
  .siquan-player .container .left{
    width: 100%;
    display: block;
  }
  .siquan-player .container .left .music-album-pic {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 5px;
  }
  .siquan-player .container .left .music-info{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
  }
  .siquan-player .container .left .music-info .music-title{
    font-size: 16px;
    line-height: 40px;
    width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 40px;
  }
  .siquan-player .container .left .music-info .music-message{
    display: none;
  }
  .siquan-player .container .right{
    position: absolute;
    bottom: 110px;
    height: calc(100% - 380px);
    width: 100%;
    left:0;
    z-index: 1;
    overflow: hidden;
  }
  .siquan-player .container .right ul li{
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0;
  }
  .siquan-player .container .right ul li.act{
    font-size: 14px;
  }
  .siquan-player .container .music-controls{
    position: absolute;
    bottom:0;
  }
  .siquan-player .container .music-controls .pl{
    margin:0 auto!important;
  }
  .siquan-player .container .flbtn{
    bottom: 135px;
    z-index: 2;
  }
}